body {
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

#main {
    text-align: center;
}

#logo {
    width: 270px;
    height: 92px;
    padding-top: 90px;
    padding-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 130px;
}

.search {
    text-align: center;
    display: inline-block;
}

#searchbar {
    text-align: center;
}

#thesearchbar {
    background: #fff;
    width: 550px;
    line-height: 30px;
    padding: 0px 1px 1px 0px;
    margin: 0 auto;
    text-align: left;
    border-radius: 2px;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  }

.navi-bar li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: block;
    float: left;
    padding: 8px 6px;
    font-size: 13px;
}

#gmail {
    float: right;
    padding-right: 10px;
}

#images {
    float: right;
    padding-right: 10px;
}

#sign-in {
    float: right;
    padding-right: 20px;
    border: none;
    background-color: #4286f4;
    padding: 8px 10px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.search-buttons {
    text-align: center;
    display: inline-block;
}

.search-buttons button {
    display: inline-block;
    color: #757575;
    background-color: #ccc;
    background-image: linear-gradient(top, #f5f5f5,#f1f1f1)
    padding: 8px 8px;
    border-radius: 3px;
    margin: 30px 4px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px 1px;
    min-width: 45px;
    padding: 5px 20px;
}

.footer {
    position: relative;
}



.footer-bar {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #e8e8e8;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 6px;
    font-size: 13px;
    color: #777c7f;
    position: fixed;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer-bar li {
    display: inline;
    vertical-align: text-bottom;
}

#left-side {
    float: left
}

#left-side ul li {
    float: right;
    word-spacing: 10px;
}

#right-side {
    float: right;
}

#right-side ul {
    float: left;  
}